*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


body{
    font-family: 'Montserrat', sans-serif;
}

header{
    width: 100%;
    height: 5.4375rem;
    background: #fff;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    top:0;
}


.menu-hamburger{
    display: none;
}

.logo-mobile{
    display: none;
}

.menu{
    display: flex;
}

.logo img{
    width: 100px;
    margin-right: 50px;
}

nav{
    display:flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-right:10px;
    cursor: pointer;
    transition: .5s all;
    color: #9767A9;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
}

nav ul li:hover{
    font-weight: bold;
}


.busca{
    width:180px;
    height: 30px;
    border: 3px solid #9767A9; 
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-right: 15px;
}

.busca input{
    color: #9767A9;
    font-size: 18px;
}

::-webkit-input-placeholder{
    font-size: 16px;
    color: #9767A9;
}

.image-busca{
    width:21px;
    height:20px;
}

.busca input{
    border: none;
    width: 100%;
    outline: 0;
    margin-left: 15px;
}

.box-contatos{
    display:flex;
    align-items: center;

}

.box-sociais{
    width: 1.5rem;
    margin-left: 8px;
    cursor: pointer;
    
}

.banner{
    width: 100%;
    height: 600px;
    background-image: url("./assets/cabeludo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    object-fit: cover;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 60px ;
    width: 35%;
}
.box-banner-text {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    
}

.box-banner-text p{
    width: 30%;
    font-size:28px;

}

.box-text{
    width: 100%;
    background: #9767A9;
    display: flex;
    padding: 38px 120px;
    padding-bottom: 4rem;
}

.box-text h2{
    color: #fff;
    font-size: 55px;
    width: 62%;
    margin-right:90px ;
}

.box-text p{
    width: 40%;
    font-size: 22px;
    color: #fff;
}

.max-content{
    padding: 0 120px;
    margin:0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.box-image-first{
    width:47%;
    max-height: 38rem;
    align-self: flex-start;
    position: relative;
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.box-image-first figure img{
    width: 100%;
    height: 100%;
}

.box-image {
    width:47%;
    max-height: 32rem;
    object-fit: cover;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-right: 15px;
    
}

.box-image figure img{
    width: 100%;
    height: 100%;
}

.box-image-text{
    width: 75%;
    background-color: #9767A9;
    color: #fff;
    padding: 10px 20px;
    margin-top: -8rem;
    z-index: 2;
}

.box-image-text h3{
    width: 80%;
    margin-bottom: 15px;
}

.box-image-text p{
    font-size: 14px;
    line-height: 24px;
}

.box-image-end{
    width: 47%;
    max-height: 38rem;
    object-fit: cover;
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.box-image-end figure img{
    width:100%;
    height: 100%;
}


.box-image-caminho{
    width: 47%;
    height: 38rem;
    margin-top: 18rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-image-caminho figure img{
    width:90%;
    height: 100%;
}

.gallery-box{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box-rei{
    width: 20%;
    margin-right: 8px;
    margin-bottom: 8px;
}
.rei{
    width: 100%;
    height: 31.25rem;
    object-fit: cover;
}

.gmaria{
    width: 100%;
    height: 15.625rem;
}

.box-artist{
    width: 15%;
    margin-right: 8px;
    margin-bottom: 8px;
}
.artist{
    width: 100%;
    height: 15.625rem; 
    object-fit: cover;
}
.box-model{
    width: 15%;
    margin-right: 8px;
}

.model{
    width: 100%;
    height: 31.25rem;
    object-fit: cover;
}
.snoopy{
    width:100%;
    height: 15.625rem;
    object-fit: cover;
}

.box-modelo{
    width: 18%;
    margin-right: 8px;
    margin-bottom: 8px;
}
.modelo{
    width: 100%;
    height: 47.3rem;
    object-fit: cover;
}
.flex{
    width: 15%;
    margin-bottom:8px;
    margin-right:8px;
}
.smile{
    width: 100%;
    height: 15.625rem;
    object-fit: cover;
    
}
.barba{
    width: 100%;
    height: 31.25rem;
    object-fit: cover; 
    object-fit: cover;
}

.gallery-mobile{
    display: none;
}

footer{
    width: 100%;
    height: 5rem;
    padding: 10px 20px;
    background: #9767A9;
    display: flex;
    justify-content: space-around;
    color: #fff;
}
strong{
    display: none;
}

footer p{
    font-size: 16px;
    align-items: center;
}

footer figure{
    width: 115px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px 5px;
}

figcaption{
    width: 60%;
    font-size:16px;
}

.interaction{
    display: flex;
}

footer figure:hover{
    background: #fff9;
}

a{
    text-decoration: none;
    color: #fff;
}

